/salmonella.log
/bench/tmp-db
/tests/testdb
/tests/testdb-copy
/tests/testdb2
/tests/server-dbs
/lib/*.so
/lib/*.scm
/lib/miniupnpc-features
/lib/detect-miniupnpc-features
/bin/dust
/bin/dustd
*~
\#*\#
